<h1 class="name">Diego Matheus</h1><hr>
<div class="quadroinfo">
    <div>
      <h2 class="container2">Curso:</h2>
    </div>
    <div>
      <h2 class="container3">Desenvolvimento de sistemas</h2>
    </div>
</div>
<div class="quadroprofissional">
    <div>
      <h2 class="container6">Objetivo Profissional:</h2>
    </div>
    <div class="container7">
      <h2>Hobbies</h2>
    </div>
</div>
<div class="quadroprofissional">
  <div class="container8">
    <p>Ter a oportunidade de trabalhar na área de Informá-</p>
    <p>tica, experiência como programador back-end ou </p>
    <p>trabalhar com Hardwares.</p>
  </div>
  <div class="container9">
    <li>Fazer Bolo</li>
    <li>Jogar video game, etcs.</li>
    <li>Empinar pipa</li>
    <li>Pesquisar sobre Hardwares</li><br><br><br><br><br>
  </div>
</div>
<span>Contatos:</span>
<div class="link">
  <a href="https://www.linkedin.com/in/diego-matheus-087953255/"><img src="./../assets/linkedin.png" alt=""></a>
  <a href="https://github.com/DiegoMatheusS"><img src="./../assets/github.png" alt=""></a><br>Linkedin&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Github
</div>
<router-outlet></router-outlet>
